<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.malcolmmaima.dishi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Activities.ReviewsActivity"></activity>
        <activity
            android:name=".View.Activities.SearchActivity"
            android:label="@string/title_activity_search" />
        <activity android:name=".View.Activities.ReportAbuse" />
        <activity android:name=".View.Activities.MyNotifications" />
        <activity android:name=".View.Activities.FollowersFollowing" />
        <activity android:name=".View.Activities.NewChat" />
        <activity android:name=".View.Activities.ViewReview"
            android:launchMode="singleTask"/>
        <activity
            android:name=".View.Activities.ViewStatus"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.Activities.Chat"
            android:launchMode="singleTop" />
        <activity android:name=".View.Activities.Inbox" />
        <activity android:name=".View.Activities.SystemMaintenance" />
        <activity android:name=".View.Activities.BlockedAccount" />
        <activity
            android:name=".View.Activities.AddRider"
            android:label="@string/title_activity_add_rider" />
        <activity
            android:name=".View.Activities.ViewMyOrders"
            android:launchMode="singleTop" />
        <activity
            android:name=".View.Activities.ViewCustomerOrder"
            android:launchMode="singleTop" />
        <activity
            android:name=".View.Activities.ViewRestaurant"
            android:label="@string/title_activity_view_restaurants" />
        <activity
            android:name=".View.Activities.ViewProfile"
            android:launchMode="singleTask" />
        <activity android:name=".View.Activities.CheckOut" />
        <activity android:name=".View.Activities.DeliverCharges" />
        <activity android:name=".View.Activities.AccountSettings" />
        <activity
            android:name=".View.Activities.MyCart"
            android:label="@string/title_activity_my_cart" />
        <activity android:name=".View.Activities.ViewProduct" />
        <activity android:name=".View.Activities.ViewImage" />
        <activity android:name=".View.Activities.PersonalDetails" />
        <activity android:name=".View.Activities.SettingsActivity" />
        <activity android:name=".View.Activities.AddMenu" />
        <activity android:name=".View.Activities.SetupAccountType" />
        <activity android:name=".View.Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Activities.MainActivity" />
        <activity android:name=".View.Activities.WelcomeActivity" />
        <activity android:name=".View.Activities.SetupProfile" />
        <activity android:name=".View.Activities.LocationSettings" />
        <activity android:name=".View.Maps.GeoTracking" />
        <activity
            android:name=".View.Maps.SearchLocation"
            android:label="@string/autocompletefromfragment" />
        <activity
            android:name=".View.Activities.RiderActivity"
            android:label="@string/title_activity_rider" />
        <activity
            android:name=".View.Activities.RestaurantActivity"
            android:label="@string/title_activity_restaurant" />
        <activity
            android:name=".View.Activities.CustomerActivity"
            android:label="@string/title_activity_customer" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b20f2baf5be47e548a898eee05dfdd7e98acd63c" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <service
            android:name=".Controller.TrackingService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Controller.ForegroundService"
            android:enabled="true"
            android:exported="true" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>